<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ozeliurs' Website</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <!-- https://feathericons.com/ && https://jenil.github.io/chota/ -->
</head>
<body style="background-color: rgba(26, 159, 96, 00.2)">
<nav class="nav" style="background-color: white">
    <div class="nav-left">
        <a href="/" class="brand">Ozeliurs' Website</a>
        <div class="tabs">
            <a href="/projects.html">Projects</a>
            <a href="/articles.html">Articles</a>
        </div>
    </div>
    <div class="nav-right">
        <a href="https://github.com/ozeliurs-MaximeBilly" class="button outline">Github</a>
    </div>
</nav>
<div class="container">
    <a href="/article/XXXX" class="text-dark"><div class="card" style="margin: 10px auto">
        <h1 style="margin-bottom: 0px">Article Example</h1>
        <code>XX/XX/XXXX</code>
        <hr>
        <p>Mollitia id dolor voluptatem ut et. Et accusantium asperiores tempora minus non dolor odio et. Dolorem tempore facere consequatur iure. In deserunt nostrum consequatur natus sunt nemo. Voluptatem et ducimus esse natus.</p>
    </div></a>
</div>
</body>
</html>
