{% extends "site.html" %}
{% block title %}Ozeliurs' Website - Projects{% endblock %}
{% block content %}
    <a href="/article/XXXX" class="text-dark"><div class="card" style="margin: 10px auto">
        <h1 style="margin-bottom: 0px">Article Example</h1>
        <code>XX/XX/XXXX</code>
        <hr>
        <p>Mollitia id dolor voluptatem ut et. Et accusantium asperiores tempora minus non dolor odio et. Dolorem tempore facere consequatur iure. In deserunt nostrum consequatur natus sunt nemo. Voluptatem et ducimus esse natus.</p>
    </div></a>
{% endblock %}